body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

.buttons input {
  border: 1px solid gray;
  background: white;
  padding: 10px 30px;
  font-size: 18px;
}